body {
    background-color: #080018;
}

input {
    padding: 12px 25px;
    border: none;
    background: rgb(135, 60, 255);
    border: solid 1px rgb(124, 35, 151);
    border-radius: 20px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

#sellPopup input[type="submit"] {
    background: #2a65ea;
    color: #080018;
}

#sellPopup input {
    margin: 8px 0;
}
input {
    padding: 12px 25px;
    border: none;
    background: rgb(228, 228, 228);
    border: solid 1px rgb(228, 228, 228);
    border-radius: 20px;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#sellPopup {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 28, 46, 0.6); */
    background: #080018;
    z-index: 3;
}

#sellPopupContainer {
    background: rgb(150, 150, 150);
    padding: 20px;
    max-width: 500px;
    margin: auto;
    height: 80vh;
    border-radius: 5px;
}

.botao {
    margin-left: 10%;
    width: 80%;
}

#auth_ a {
    color: rgb(94, 32, 238);
}
